In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel('churn2.xlsx')
data.head()

,code,city,speed,churn,CSCalls,SalesCalls,namava,shoteltalk,casper,Android Security,VocNo,195No
0,41661474,1,8192,0,7,3,0,0,0,0,0,0
1,41661471,1,8192,0,1,6,0,0,0,0,0,0
2,41661457,2,512,0,7,6,0,0,0,0,0,0
3,41661447,1,512,0,5,4,0,0,0,0,0,0
4,41661306,1,512,0,1,4,0,0,1,0,0,0

In [3]:
data=data.drop('code',axis=1)
data

,city,speed,churn,CSCalls,SalesCalls,namava,shoteltalk,casper,Android Security,VocNo,195No
0,1,8192,0,7,3,0,0,0,0,0,0
1,1,8192,0,1,6,0,0,0,0,0,0
2,2,512,0,7,6,0,0,0,0,0,0
3,1,512,0,5,4,0,0,0,0,0,0
4,1,512,0,1,4,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1494,2,4096,1,23,20,0,0,0,0,0,0
1495,4,8192,1,20,9,0,0,0,0,0,0
1496,2,1024,1,3,19,0,0,0,0,0,0
1497,4,8192,1,2,10,0,0,0,0,0,0
1498,4,4096,1,5,12,0,0,0,0,0,0

In [4]:
data.isnull().sum()

city                0
speed               0
churn               0
CSCalls             0
SalesCalls          0
namava              0
shoteltalk          0
casper              0
Android Security    0
VocNo               0
195No               0
dtype: int64

In [7]:
data.dtypes

city                int64
speed               int64
churn               int64
CSCalls             int64
SalesCalls          int64
namava              int64
shoteltalk          int64
casper              int64
Android Security    int64
VocNo               int64
195No               int64
dtype: object

In [9]:
li=['city','churn','namava','shoteltalk','casper','Android Security']
data[li]=data[li].astype(str)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   city              1499 non-null   object
 1   speed             1499 non-null   int64
 2   churn             1499 non-null   object
 3   CSCalls           1499 non-null   int64
 4   SalesCalls        1499 non-null   int64
 5   namava            1499 non-null   object
 6   shoteltalk        1499 non-null   object
 7   casper            1499 non-null   object
 8   Android Security  1499 non-null   object
 9   VocNo             1499 non-null   int64
 10  195No             1499 non-null   int64
dtypes: int64(5), object(6)
memory usage: 128.9+ KB

In [17]:
sp=data['speed']
sp_n=(sp-sp.mean(axis=0))/(sp.std(axis=0))
data['speed']=sp_n
data

,city,speed,churn,CSCalls,SalesCalls,namava,shoteltalk,casper,Android Security,VocNo,195No
0,1,0.630992,0,7,3,0,0,0,0,0,0
1,1,0.630992,0,1,6,0,0,0,0,0,0
2,2,-0.966559,0,7,6,0,0,0,0,0,0
3,1,-0.966559,0,5,4,0,0,0,0,0,0
4,1,-0.966559,0,1,4,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1494,2,-0.221035,1,23,20,0,0,0,0,0,0
1495,4,0.630992,1,20,9,0,0,0,0,0,0
1496,2,-0.860055,1,3,19,0,0,0,0,0,0
1497,4,0.630992,1,2,10,0,0,0,0,0,0
1498,4,-0.221035,1,5,12,0,0,0,0,0,0

In [18]:
x=data.drop('churn',axis=1)
y=data['churn']

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=101)

In [20]:
from sklearn.naive_bayes import GaussianNB
gs=GaussianNB()
gs.fit(x_train,y_train)
y_pred=gs.predict(x_test)
y_pred

array(['0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '1', '0', '1', '0', '1', '0',
       '0', '0', '0', '0', '0', '1', '0', '0', '1', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0',
       '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '1', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0',
       '1', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '1', '0', '0',
       '1', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '1', '1',
       '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0',
       '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1',
       '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '1', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '1',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '1', '1', '1', '0', '0', '0',
       '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0',
       '0', '1', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '1'], dtype='<U1')

In [33]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from IPython.display import display
from sklearn.metrics import classification_report

In [22]:
accuracy_score(y_pred,y_test)

0.6133333333333333

In [23]:
confusion_matrix(y_test,y_pred)

array([[189,   1],
       [144,  41]])

In [25]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.57      0.99      0.72       190
           1       0.98      0.22      0.36       185

    accuracy                           0.61       375
   macro avg       0.77      0.61      0.54       375
weighted avg       0.77      0.61      0.54       375

In [31]:
from sklearn.ensemble import AdaBoostClassifier
adb=AdaBoostClassifier(GaussianNB(),n_estimators=20,random_state=101)
adb.fit(x_train,y_train)
ypred=adb.predict(x_test)
ypred

array(['1', '1', '1', '0', '1', '0', '1', '1', '0', '0', '1', '1', '1',
       '0', '0', '0', '1', '1', '1', '0', '1', '1', '1', '0', '1', '0',
       '0', '1', '0', '0', '1', '1', '0', '0', '1', '1', '1', '1', '1',
       '1', '0', '1', '0', '1', '0', '0', '1', '1', '1', '0', '0', '0',
       '0', '1', '0', '1', '1', '0', '1', '1', '1', '1', '0', '1', '1',
       '1', '1', '0', '1', '1', '1', '0', '0', '1', '1', '0', '1', '1',
       '1', '1', '1', '1', '1', '0', '0', '1', '1', '1', '0', '0', '1',
       '1', '0', '0', '0', '1', '1', '0', '1', '1', '1', '0', '1', '1',
       '0', '1', '0', '0', '1', '1', '1', '0', '1', '1', '0', '1', '0',
       '1', '1', '0', '0', '1', '0', '1', '1', '1', '1', '0', '1', '1',
       '1', '1', '1', '0', '1', '1', '1', '0', '1', '1', '0', '1', '1',
       '0', '1', '0', '0', '1', '1', '1', '1', '0', '1', '1', '0', '0',
       '1', '1', '0', '0', '0', '1', '1', '1', '1', '1', '1', '0', '1',
       '1', '0', '1', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '0', '1', '0', '1', '1', '0', '0', '1', '1', '1', '1',
       '0', '1', '0', '1', '1', '0', '1', '0', '0', '0', '0', '1', '0',
       '1', '1', '1', '0', '1', '0', '1', '1', '1', '1', '1', '0', '0',
       '1', '0', '1', '0', '1', '1', '0', '0', '0', '1', '1', '1', '1',
       '1', '1', '0', '0', '0', '1', '0', '1', '1', '1', '1', '0', '1',
       '1', '1', '1', '1', '1', '0', '1', '0', '1', '1', '1', '1', '0',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '0', '1', '1',
       '1', '0', '1', '0', '1', '1', '1', '1', '1', '0', '1', '1', '1',
       '0', '0', '1', '1', '0', '1', '0', '0', '0', '0', '1', '1', '1',
       '0', '0', '1', '0', '1', '0', '1', '1', '1', '1', '0', '0', '1',
       '0', '1', '1', '0', '0', '0', '1', '1', '0', '0', '0', '0', '0',
       '1', '1', '0', '0', '1', '0', '1', '1', '1', '1', '1', '0', '1',
       '0', '1', '1', '1', '1', '0', '1', '1', '1', '1', '1', '1', '1',
       '1', '0', '1', '0', '1', '1', '1', '1', '0', '0', '1'], dtype='<U1')

In [34]:
accuracy_score(y_test,ypred)

0.6693333333333333

In [35]:
confusion_matrix(y_test,ypred)

array([[ 98,  92],
       [ 32, 153]])

In [36]:
print(classification_report(y_test,ypred))

              precision    recall  f1-score   support

           0       0.75      0.52      0.61       190
           1       0.62      0.83      0.71       185

    accuracy                           0.67       375
   macro avg       0.69      0.67      0.66       375
weighted avg       0.69      0.67      0.66       375